<script id="ruleFactModalTemplate" type="text/x-handlebars-template">
    <form id="modalRuleFact">
        <div class="row">
            <div class="col-12">
                <div class="form-group mb-2">
                    <label for="ruleFact">Fact Name <span class="tooltip">&#9432;<span class="tooltiptext">The Fact name must be unique as you need in the condition evaluation.</span></span></label>
                    <input type="text" class="form-control" id="factName" name="name" placeholder="Fact Name" value="{{fact.name}}">
                </div>
                <div class="form-group mb-2">
                    <label for="ruleFact">Fact Type <span class="tooltip">&#9432;<span class="tooltiptext">What type of fact are you storing or creating?</span></span></label>
                    <select class="form-control" id="factType" name="type">
                        <option value="string" {{optionSelected fact.type "string"}}>String</option>
                        <option value="number" {{optionSelected fact.type "number"}}>Number</option>
                        <option value="boolean" {{optionSelected fact.type "boolean"}}>Boolean</option>
                        <option value="timeFrame" {{optionSelected fact.type "timeFrame"}}>Time Frame</option>
                        <option value="dayFrame" {{optionSelected fact.type "dayFrame"}}>Day Frame</option>
                        <option value="monthFrame" {{optionSelected fact.type "monthFrame"}}>Month Frame</option>
                        <option value="array" {{optionSelected fact.type "array"}}>Array (List)</option>
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label for="ruleFact">Fact Source <span class="tooltip">&#9432;<span class="tooltiptext">Where is the fact coming from? Request (Provided on evaluation request), or Static (Stored on SecurEval)</span></span></label>
                    <select class="form-control" id="factSource" name="source">
                        <option value="" disabled>Please Select</option>
                        <option value="request" {{optionSelected fact.source "request"}}>Request</option>
                        <option value="static" {{optionSelected fact.source "static"}}>Static</option>
                    </select>
                </div>
            </div>
            <div id="string-input" class="form-group mb-2 value-input" style="display:none;">
                <label for="factValue">Fact Value</label>
                <input type="text" class="form-control factValue string" id="factValue" name="value" placeholder="Fact Value" value="{{fact.value}}">
            </div>

            <div id="number-input" class="form-group mb-2 value-input" style="display:none;">
                <label for="factValue">Fact Value</label>
                <input type="number" class="form-control factValue number" id="factValue" name="value" placeholder="Fact Value" value="{{fact.value}}">
            </div>
            <div id="boolean-input" class="form-group mb-2 value-input" style="display:none;">
                <label for="factValue">Fact Value</label>
                <select class="form-control factValue boolean" id="factValue" name="value">
                    <option value="true" {{optionSelected fact.value "true"}}>True</option>
                    <option value="false" {{optionSelected fact.value "false"}}>False</option>
                </select>
            </div>
            <div id="array-input" class="mb-2 value-input" style="display:none;">
                <div id="itemsList">
                    <ul class="list-group" id="arrayItemsList">
                        
                    </ul>
                </div>
                <div class="input-group mb-3">
                    <input type="text" id="newArrayItem" class="form-control" placeholder="Enter new item" aria-describedby="addArrayItem">
                    <button class="btn btn-brand" type="button" id="addArrayItem">Add</button>
                </div>
            </div>
            <div class="invalid-feedback" id="factValueFeedback">
                
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="button" class="btn btn-brand" onclick="javascript: saveFact();">Update</button>
                </div>
            </div>
        </div>
    </form>
</script>