<div class="row">
    <div class="col-12">
        <form>
            <div class="row">
                <div class="col-md-12">
                    <div class="mb-3">
                        <label for="ruleTitle" class="form-label">Title</label>
                        <input type="text" class="form-control" id="ruleTitle" name="ruleTitle" placeholder="My Rule" value="<%= rule.name %>">
                    </div>
                    <div class="mb-3">
                        <label for="ruleDescription" class="form-label">Description</label>
                        <input type="text" class="form-control" id="ruleDescription" name="ruleDescription" placeholder="My Rule is superb" value="<%= rule.description %>">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <input type="submit" class="btn btn-brand" value="Update">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Apps</h5>
                            <p>No apps found.</p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>