<div class="row">
    <div class="col-12">
        <h3>Rule Outcomes</h3>
        <p>Below are the possible evaluation outcomes for your rule. You can control the outcome with conditions.</p>
    </div>
</div>
<input type="hidden" id="ruleOutcomesData" value='<%- JSON.stringify(rule.outcomes) %>'>
<div id="ruleOutcomes">
    <button class="btn btn-brand" onclick="javascript: renderRuleConditions();">Render</button>
</div>
<script id="ruleConditionsTemplate" type="text/x-handlebars-template">
    {{#eachKeyValue outcomes}}
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>{{key}}</h4>
                    </div>
                    <div class="card-body">
                        <div class="accordion" id="conditionsAccordion">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button {{#if (compare value.conditions.any.length '==' 0)}}collapsed{{/if}}" type="button" data-bs-toggle="collapse" data-bs-target="#panel{{key}}All" aria-expanded="{{#if (compare value.conditions.all.length '>' 0)}}true{{else}}false{{/if}}" aria-controls="panelAll">
                                    Match: ALL <span class="badge text-bg-secondary ms-1">{{length value.conditions.all}}</span>
                                    </button>
                                </h2>
                                <div id="panel{{key}}All" class="accordion-collapse collapse{{#if (compare value.conditions.all.length '>' 0)}} show{{/if}}">
                                    <div class="accordion-body">
                                        {{#if (compare value.conditions.all.length '>' 0)}}
                                            <table class="table table-striped conditionsTable">
                                                <thead>
                                                    <tr>
                                                        <th>Fact</th>
                                                        <th>Operator</th>
                                                        <th>Value</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {{#each value.conditions.all}}
                                                        <tr data-index="condition/{{../key}}/all/{{@index}}">
                                                            <td>{{this.fact}}</td>
                                                            <td>{{this.operator}}</td>
                                                            <td>{{this.value}}</td>
                                                            <td>
                                                                <button type="button" class="btn btn-sm btn-brand btnEditRow">Edit</button>
                                                                <button type="button" class="btn btn-sm btn-danger" onclick="removeCondition(this)">Remove</button>
                                                            </td>
                                                        </tr>
                                                    {{/each}}
                                                </tbody>
                                            </table>
                                        {{else}}
                                            <p>No conditions found.</p>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button {{#if (compare value.conditions.any.length '==' 0)}}collapsed{{/if}}" type="button" data-bs-toggle="collapse" data-bs-target="#panel{{key}}Any" aria-expanded="{{#if (compare value.conditions.any.length '>' 0)}}true{{else}}false{{/if}}" aria-controls="panelAny">
                                    Match: ANY <span class="badge text-bg-secondary ms-1">{{length value.conditions.any}}</span>
                                    </button>
                                </h2>
                                <div id="panel{{key}}Any" class="accordion-collapse collapse {{#if (compare value.conditions.any.length '>' 0)}}show{{/if}}">
                                    <div class="accordion-body">
                                        {{#if (compare value.conditions.any.length '>' 0)}}
                                            <table class="table table-striped conditionsTable">
                                                <thead>
                                                    <tr>
                                                        <th>Fact</th>
                                                        <th>Operator</th>
                                                        <th>Value</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {{#each value.conditions.any}}
                                                        <tr data-index="conditon/{{../key}}/any/{{@index}}">
                                                            <td>{{this.fact}}</td>
                                                            <td>{{this.operator}}</td>
                                                            <td>{{this.value}}</td>
                                                            <td>
                                                                <button type="button" class="btn btn-sm btn-brand btnEditRow">Edit</button>
                                                                <button type="button" class="btn btn-sm btn-danger" onclick="removeCondition(this)">Remove</button>
                                                            </td>
                                                        </tr>
                                                    {{/each}}
                                                </tbody>
                                            </table>
                                        {{else}}
                                            <p>No conditions found.</p>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/eachKeyValue}}
</script>
<script id="conditionOperatorSelectTemplate" type="text/x-handlebars-template">
    <select class="form-control" id="conditionOperator" name="operator">
        <option disabled>Please Select</option>
        <option value="equal" {{optionSelected operator "equal"}}>Equal</option>
        <option value="notEqual" {{optionSelected operator "notEqual"}}>Not Equal</option>
        <option value="greaterThan" {{optionSelected operator "greaterThan"}}>Greater Than</option>
        <option value="lessThan" {{optionSelected operator "lessThan"}}>Less Than</option>
        <option value="contains" {{optionSelected operator "contains"}}>Contains</option>
    </select>
</script>