<div class="row">
    <div class="col-12">
        <form action="javascript: updateRuleBasicForm();" id="ruleBasicForm">
            <div class="row">
                <div class="col-md-12">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="My Rule" value="<%= rule.name %>">
                        <div class="invalid-feedback" id="nameFeedback"></div>
                    </div>
                    <div class="mb-3">
                        <label for="ruleDescription" class="form-label">Description</label>
                        <input type="text" class="form-control" id="description" name="description" placeholder="My Rule is superb" value="<%= rule.description %>">
                        <div class="invalid-feedback" id="descriptionFeedback"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <input type="submit" class="btn btn-brand" value="Update">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Apps</h5>
                            <p>No apps found.</p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>