body{
    font-family: "Rubik", sans-serif;
}

.bg-brand{
    background-color: #C174BD;
}

.btn-brand{
    background-color: #C174BD;
    color: white;
    border-color: #C174BD;
}
.btn-brand:hover{
    background-color: #A25DA6;
    color: white;
    border-color: #A25DA6;
}